#result {
    position: absolute;
    display:inline-block;
    line-height: 32px;
    top: 30px;
    width: 27%;
    height: 35px;
    font-size: 24px;
    text-align: center;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(103, 103, 152);
    border-bottom: 1px solid black;
}

#result1 {
    position: relative;
    top: 60px;
    display:inline-block;
    width: 30%;
    
}

.data {   
    padding: 1px;
    line-height: 120%;
    font-size: 20px;
    width: 90%;
    position: relative;
    top: 5px;
    display:block;   
    border: 2px solid buttonface; 
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221); 
}

.data:hover { 
    background-color: rgb(15, 0, 153);
}

#marker:hover{
    background-color: blanchedalmond;
}

#container {
    position: absolute;
    top: 15px;
    left: 28%;
    display:inline-block;
    text-align:center;      
}

#mymap {
   position: absolute;
   left: 28%;
   top: 10%;
   display:inline-block;
   margin: auto; 
}

#addr {
  width: 300px;
  height: 30px; 
  font-size: 15pt;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#selection1 {
  width: 160px;
  height: 30px; 
  font-size: 15pt;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#selection2 {
  width: 200px;
  height: 30px; 
  font-size: 15pt;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



#query {
  width: 100px;
  height: 30px; 
  font-size: 15pt;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

